.featured {
    background-color: #eae7e8;
    height: 260px;
}

.featured .p1 {
    font-size: 18px;
    line-height: 24px;
    color: #7a6666;
    font-weight: 700;
    font-family: latoB;
    padding-top: 50px;
}

.featured .p2 {
    font-size: 15px;
    line-height: 24px;
    color: #7a6666;
    font-family: Magra;
    padding: 25px 0;
}

.featured h4{
    font-family: Roboto;
    font-size: 30px;
    color: #cb3362;
    padding-top: 27px;
}

.featured img {
    float: right;
    padding-top: 80px;
}

