@import url(./fonts.css);
@import url(./elements/header.css);
@import url(./elements/banner.css);
@import url(./elements/featured.css);
@import url(./elements/about.css);
@import url(./elements/footer.css);
@import url(./elements/name.css);
@import url(./elements/about_text.css);
@import url(./elements/content.css);
@import url(./elements/products.css);
@import url(./elements/blog.css);
@import url(./elements/button.css);

ul,ol,h1,h2,h3,h4,h5,h6,p,body{
  margin: 0;
  padding: 0;
}

ul,ol{
  list-style-type: none;
}

.container-fluid{
  width: 100%;
  box-sizing: border-box;
}

.container{
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
}

